[submodule "media-processor"]
	path = media-processor
	url = https://github.com/x036ox/media-processor.git
	branch = master

[submodule "video-api"]
	path = video-api
	url = https://github.com/x036ox/video-api.git

[submodule "yout"]
	path = yout
	url = https://github.com/x036ox/yout.git

[submodule "recommendations"]
	path = recommendations
	url = https://github.com/x036ox/recommendations.git

[submodule "notifications"]
	path = notifications
	url = https://github.com/x036ox/notifications.git

[submodule "object-storage"]
	path = object-storage
	url = https://github.com/x036ox/object-storage.git

[submodule "common"]
	path = common
	url = https://github.com/x036ox/common.git